<% commentdata.forEach(function(comment) { %>
  <div class="row view-post-comment">
    <div class="col-sm-2 view-post-comment-left">
      <div class="row no-margin vote-count">
        <i class='fas fa-check-double' style='font-size:30px;color:#44bd32'></i>
        <span class="comment-vote-amount" data-commentid="<%=  comment._id%>"><%=  comment.voteAmout %></span>
      </div>
      <div class="row no-margin"><span>Votes</span></div>
      <div class="row no-margin">
        <button
        type="button"
        data-commentid="<%=  comment._id%>"
        class="btn btn-custom btn-primary post-btn-comment-vote" style="width: 100px; margin-top: 50px;"
        >Bình chọn</button> 
      </div>
    </div>
    <div class="col-sm-10  view-post-comment-right">
      <div class="row view-comment-info">
        <div class="col-sm-1 no-padding">
          <img class="avt-img" src="/images/users/<%=  comment.userinfo.avatar %>" alt="avt-user-comment-post">
        </div>
        <div class="col-sm-2 no-padding">
          <a href="/profile/<%=  comment.userinfo._id %>">@<%=  comment.userinfo.username %></a>
        </div>
        <div class="col-sm-3">
          <i class="fa fa-calendar">&nbsp;</i><span><%= convertTimestampToDMY(comment.createdAt) %> </span>&Tab;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="col-sm-7">
        </div>
      </div>
      <div class="row no-margin view-comment-content">
        <span>
          <%- convertTexarea(comment.content) %>
          </span>
      </div>
      <div data-commentid="<%=  comment._id%>" class="comment-box-small">
       
       <% if(comment.childComent != null || comment.childComent !=undefined) {%> 
        <% comment.childComent.forEach(function(childcomment) { %>
          <div class="row view-comment-small">
            <a href="/profile/<%=  childcomment.userId %>">@<%=  childcomment.userName%></a>
            <span>:&nbsp;&nbsp;&nbsp;</span>
            <span><%=  childcomment.content%>
            </span>
          </div>
          <% }); %> 
       <% }; %> 
        
      </div>
      <div class="row no-margin " style="margin-top: 10px;">
        <div class="col-sm-1"></div>
        <div class="col-sm-9 no-padding">
          <textarea  data-commentid="<%=  comment._id%>" class="form-control post-comment-text-child" rows="1"  placeholder="Nhập câu trả lời của bạn"></textarea>
        </div>
        <div class="col-sm-2">
          <button
          type="button"
          data-commentid="<%=  comment._id%>"
          class="btn btn-custom btn-success post-btn-comment-child" style="width: 100px;"
          >Gửi</button> 
        </div>
      </div>
    </div>
  </div>
  <% }); %> 