<% extend('../main') %> 
<% postdata.forEach(function(post) { %>
<div class="container-fluid main-content">
  <div class="row content">
    <!-- <div class="col-sm-3 leftside">  </div> -->
    <div class="col-sm-1"></div>
    <div class="col-sm-9 view-post-box-content" >
      <!-- question -->
      
      <div class="row no-margin">
        <div class="view-post-title">
          <span><%= convertTexarea(post.title) %> </span>
        </div>
      </div>
      <div class="row no-margin view-post-info">
        <div class="col-sm-4 ">
          <button
          type="button"
          class="btn btn-custom-small btn-primary post-btn-like"
          data-postid = "<%= post._id %>"
          <% if(checkLikePost(post.likes,user._id) == true){ %> disabled <% }; %> 
          >Yêu thích</button> 
          <span>&nbsp;</span>
          <button
          type="button"
          class="btn btn-custom-small btn-warning post-btn-report"
          >Báo cáo</button> 
          <span>&nbsp;</span>
          <% if(checkAllowDelete(post.userId,user._id)){ %> 
            <button
            type="button"
            class="btn btn-custom-small btn-danger post-btn-delete"
            data-postid = "<%= post._id %>"
            >Xóa</button> 
          <% }; %> 
          <span>&nbsp;</span>
        </div>
         
        <div class="col-sm-2"></div>
        <div class="col-sm-6 no-padding" >
          <span>by:&nbsp;</span><a href="/profile/<%= post.userinfo._id%>">@<%= post.userinfo.username %> </a>&Tab;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-heart">&nbsp;</i><span class="like-amount" data-postid="<%= post._id%>"><%= post.likeAmount%> </span>&Tab;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-comment">&nbsp;</i><span class="comment-amount" data-postid="<%= post._id%>" ><%= post.commentAmount %> </span>&Tab;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-calendar">&nbsp;</i><span><%= convertTimestampToDMY(post.createdAt)%> </span>&Tab;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>
      <div class="row no-margin view-post-description">
        <span><%- convertTexarea(post.description) %> </span>
        
      </div>
      
      <div class="row no-margin ">
        <div class="col-sm-1"></div>
        <div class="col-sm-9 no-padding">
          <textarea class="form-control" rows="3" data-postid="<%= post._id %>" id="post-text-comment" placeholder="Nhập câu trả lời của bạn"></textarea>
        </div>
        <div class="col-sm-2">
          <button
          type="button"
          class="btn btn-custom btn-success post-btn-comment" data-postid="<%= post._id %>" style="width: 100px;"
          >Gửi</button> 
        </div>
      </div>
      <!-- question end -->
      <!-- filter -->
      <div class="row no-margin filter-box">
        <div class="post-filter-comment">
          <div data-postid="<%= post._id %>" data-typecomment = "active" class="post-filter-comment-active post-filter-comment-type">Active</div>
          <div data-postid="<%= post._id %>" data-typecomment = "lastest" class="post-filter-comment-oldest post-filter-comment-type">Lastest</div>
          <div data-postid="<%= post._id %>" data-typecomment = "vote" class="post-filter-comment-votes post-filter-comment-type">Votes</div>
        </div>
      <div class="row post-answer">

      </div>

    </div>
      <!-- filter end-->
      <!-- list post comment -->
<div class="row no-margin">
  <div class="col-12 no-padding" id="row-post-comment" data-postid="<%= post._id %>">


    <%- include('dataComment')  ;%> 





  </div>
</div>


    <!-- list post comment end -->
    <div class="row no-margin" style="margin-bottom: 50px;">
    </div>

    </div>
    <div class="col-sm-2">
    </div>

</div>


<% }); %> 