<div class="col-sm-9 sidenav no-padding">
  <div class="right">

    <% posts.forEach(function(post) { %>
    <div class="box-post">
      
      <div class="row no-margin">
        <div class="col-sm-2 center-content-all"> 
          <div class="row no-margin post-like-count "><span class="like-amount" data-postid="<%=post._id%>"><%= post.likeAmount %></span></div>
          <div class="row no-margin post-avt ">
            <img src="/images/users/<%= post.userinfo.avatar %>" alt="avt-user-post">
          </div>
          <div class="row no-margin post-username"><%= post.userinfo.username %> </div>
          <div class="row no-margin post-comment-count">comments : <%= post.commentAmount %> </div>
          <div class="row no-margin post-catelogy"><a href="/post/tag/<%= post.tagId%> "><%= post.taginfo.name%></a></div>
          <div class="row no-margin post-time"><%= convertTimestampToDMY(post.createdAt) %> </div>

        </div>
        <div class="col-sm-9 center-content-all">
          <div class="row no-margin post-title"><a href="/post/view/<%= post._id %>"><%= post.title %></a></div>
          <div class="row no-margin post-description"><%= post.description %></div>
          <div class="row no-margin post-comment">Although I do recommend going through W3 tutorials https://www.w3schools.com/html/ and really familiarizing yourself with HTML and CSS if web development is of interest to you. </div>
          <div class="row no-margin">
            <div class="col-sm-3 ">
              <button
              type="button"
              class="btn btn-custom btn-primary post-btn-like"
              data-postid = "<%= post._id %>"
              <% if(checkLikePost(post.likes,user._id) == true){ %> disabled <% }; %> 
              >Yêu thích</button> 
            </div>
            <div class="col-sm-3 ">
              <a href="/post/view/<%= post._id %>"  >
                <button
                type="button"
                class="btn btn-custom btn-success post-btn-read-more"
                
                >Xem chi tiết >></button> 
              </a>
            </div>
            <div class="col-sm-3 ">
              <button
              type="button"
              class="btn btn-custom btn-warning post-btn-report"
              >Báo cáo</button> 
            </div>
          </div>

        </div>
      </div>
    </div>

    <% }); %> 


    <div class="box-post">
      
      <div class="row no-margin">
        <div class="col-sm-2 center-content-all"> 
          <div class="row no-margin post-like-count ">200</div>
          <div class="row no-margin post-avt ">
            <img src="/images/users/1617181701861-764bb7f3-1334-4f01-aaa0-0cab825f893b-icon.jpg" alt="avt-user-post">
          </div>
          <div class="row no-margin post-username">thiencafe2018</div>
          <div class="row no-margin post-comment-count">comments : 300</div>
          <div class="row no-margin post-catelogy"><a href="#">Kỹ thuật công nghệ</a></div>
          <div class="row no-margin post-time">20/03/2018</div>

        </div>
        <div class="col-sm-9 center-content-all">
          <div class="row no-margin post-title">Templates for Developing Web Page Templates for Developing Web Page  for Developing Web Page for Developing Web Page g Web Page for Developing Web Page      </div>
          <div class="row no-margin post-description">Mô tả : I am quite new to coding, and have limited experience with HTML and Python. I would like to develop a web page for personal use, and I thought it might be easier to starter with a template and customize it from there. Can anyone recommend a place to find some free templates, or know a good place to start looking? </div>
          <div class="row no-margin post-comment">Although I do recommend going through W3 tutorials https://www.w3schools.com/html/ and really familiarizing yourself with HTML and CSS if web development is of interest to you. </div>
          <div class="row no-margin">
            <div class="col-sm-3 ">
              <button
              type="button"
              class="btn btn-custom btn-primary post-btn-like"
              >Yêu thích</button> 
            </div>
            <div class="col-sm-3 ">
              <button
              type="button"
              class="btn btn-custom btn-success post-btn-read-more"
              >Xem chi tiết >></button> 
            </div>
            <div class="col-sm-3 ">
              <button
              type="button"
              class="btn btn-custom btn-warning post-btn-report"
              >Báo cáo</button> 
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
